{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="text-center">
        <h2 class="mb-6 text-3xl">Search or Chat!</h2>
        <div class="h-screen flex items-center justify-center">
            <button><a href="{{ url_for('search') }}" class="px-6 py-3 m-5 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Search</a></button>
            <button><a href="{{ url_for('chat') }}" class="px-6 py-3 m-5 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Chat</a></button>
        </div>
    </div>
{% endblock %}
